#SSH key file
tm_key.pem

Documentation.docx
terra/terraform.tfstate
terra/terraform.tfstate.backup
terra/terraform.lock.hcl
terra/.terraform
lms-frontend/.vscode
lms-frontend/.angular
lms-backend/.env
